<a routerLink="/TemplateForms">Template Driven Forms</a><br/>
<a [routerLink]="['/ReactiveForms']">Reactive Forms</a><br/>
<a [routerLink]="['/ReactiveFormsWithValidator']">Reactive Forms With Validators</a>
<h3>Reactive Forms Details</h3>
<div class="container">
  <div class="row">
    <div class="form-bg">
      <form [formGroup]='formDetails' (ngSubmit)="submitFormData(formDetails)">
        <div class="col-5">
          <label for="FirstName">First Name</label>
          <input type="text" class="form-control" formControlName="firstName" required/>
        </div>
        <div class="col-5">
          <label for="FirstName">Last Name</label>
          <input type="text" class="form-control" formControlName="lastName" required/>
       </div>
        <div class="col-5">
          <label for="email">Email</label>
          <input type="email" class="form-control" formControlName="email" required/>
        
        </div>
        <br/>
       <div class="col-5">
        <button type="submit" class="btn btn-primary" [disabled]="!formDetails.valid">Submit</button>
       </div>
      </form>
    </div>
  </div>
</div>

